{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--override -->


<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <!--1 row -->
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">search engine optimization</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Web design involves creating the visual elements and layout of a website.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Web development refers to building and maintaining websites.</p>
        </div>
    </div>

    <!--2nd row-->
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3>Android</h3>
            <p class="ss-color">Android development is a form of software engineering dedicated
                specifically to creating applications for devices that run on the Android platform.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h3>ios</h3>
            <p class="ss-color">Apple provides tools and resources for creating iOS apps and
                accessories for these devices.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-color"> an industry used to call the attention of the public to something,
                typically a product or service.</p>
        </div>
    </div>

    <!--3 row-->
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">A logo is a graphic mark, emblem, or symbol used to aid and promote
                public identification and recognition. It may be of an abstract or figurative design.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">a service through which storage and computing resources are providing to
                an individual or organization for the accommodation and maintenance of one or more
                websites and related services.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">If you have any problems, contact us.</p>
        </div>
    </div>

</div>

{% endblock content %}